<section id='createPage'>
    <form id='createForm' method='post'>
        <label for='name'>Name:</label>
        <input type='text' id='name' name='name' {{#if data.name}}value="{{data.name}}"{{/if}}/>

        <label for='type'>Type:</label>
        <input type='text' id='type' name='type' {{#if data.type}}value="{{data.type}}"{{/if}}/>

        <label for='production'>Year of Production:</label>
        <input type='number' id='production' name='production' {{#if data.production}}value="{{data.production}}"{{/if}}/>

        <label for='exploitation'>Years of Exploitation:</label>
        <input type='number' id='exploitation' name='exploitation' {{#if data.exploitation}}value="{{data.exploitation}}"{{/if}}/>

        <label for='damages'>Damages:</label>
        <input
            type='text'
            id='damages'
            name='damages'
            {{#if data.damages}}value="{{data.damages}}"{{/if}}
        />

        <label for='image'>Image:</label>
        <input
            type='text'
            id='image'
            name='image'
            {{#if data.image}}value="{{data.image}}"{{/if}}
        />

        <label for='price'>Price:</label>
        <input type='number' id='price' name='price' {{#if data.price}}value="{{data.price}}"{{/if}}/>

        <label for='description'>Description:</label>
        <input
            type='text'
            id='description'
            name='description'
            {{#if data.description}}value="{{data.description}}"{{/if}}
        />

        <input type='submit' class='create' value='Create Offer' />
    </form>
</section>