<section id='all-ads-page'>
    <form id="filtrationForm" action="" method="get">
    <article class="filter-container-wrapper">
        <div class="filter-heading">
            <i class="fa-solid fa-plus"></i>
            <h3>Filter</h3>
        </div>
        <article class="filter-container">
            <div class="location-container">
                <label for="location">Location:</label>
                <select name="location" id="location">
                    <option value="">--select--</option>
                    {{#each filterOptions.location}}
                    <option value="{{value}}" {{#if selected}}selected{{/if}}>{{value}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="company-container">
                <label for="company">Company:</label>
                <select name="company" id="company">
                    <option value="">--select--</option>
                    {{#each filterOptions.company}}
                    <option value="{{value}}" {{#if selected}}selected{{/if}}>{{value}}</option>
                    {{/each}}
                </select>
            </div>
        </article>
    </article>
    <article class="sort-container">
        <label for="sortBy">Sort by:</label>
        <select name="sortBy" id="sortBy">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
        </select>
    </article>
    <input class="apply-filters" type="submit" value="Apply filters">
</form>

    <article class='all-ads-title'>
        <h1>All ads</h1>
    </article>
    {{#if ads}}
    {{#each ads}}
    {{>catalog-ad}}
    {{/each}}
    <div class="page-btn-container">
        {{#if pagination.isNotFirstPage}}
        <a class="back arrow" href="{{pagination.back}}">&larr;</a>
        {{/if}}
        {{#each pagination.pages}}
        <a {{#if current}}class="current"{{/if}} href="{{href}}">{{num}}</a>
        {{/each}}
        {{#if pagination.isnotLastPage}}
        <a class="forward arrow" href="{{pagination.forward}}">&rarr;</a>
        {{/if}}
    </div>
    {{else}}
        <article class='not-available-ads'>
            <h1>No ads created yet.</h1>
            <h2>Join and find your perfect workers.</h2>
        </article>
    {{/if}}
</section>